.card {
  position: relative;
  width: 100%;
  height: 100%;
}

.card--flipped .card__front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card--flipped .card__back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

/* front of card - the picture */
.card__front {
  display: block;
  border: 2px solid #fff;
  border-radius: 1em;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  object-fit: cover;
  aspect-ratio: auto;
  width: 100%;
}

.card__front--4x3 {
  height: calc(100vh / 4);
  height: calc(100svh / 4);
}
.card__front--6x5 {
  height: calc(100vh / 7);
  height: calc(100svh / 7);
}
.card__front--8x7 {
  height: calc(100vh / 10);
  height: calc(100svh / 10);
}

/* back of card - cover */
.card__back {
  display: block;
  border: 2px solid #fff;
  border-radius: 1em;
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  object-fit: cover;
  aspect-ratio: auto;
  width: 100%;
}

.card__back--4x3 {
  height: calc(100vh / 4);
  height: calc(100svh / 4);
}
.card__back--6x5 {
  height: calc(100vh / 7);
  height: calc(100svh / 7);
}
.card__back--8x7 {
  height: calc(100vh / 10);
  height: calc(100svh / 10);
}

/* || MEDIA QUERIES */

@media screen and (orientation: portrait) {
  .card__front--4x3 {
    height: calc(100vh / 5);
    height: calc(100svh / 5);
  }
  .card__front--6x5 {
    height: calc(100vh / 9);
    height: calc(100svh / 9);
  }
  .card__front--8x7 {
    height: calc(100vh / 12);
    height: calc(100svh / 12);
  }

  .card__back--4x3 {
    height: calc(100vh / 5);
    height: calc(100svh / 5);
  }
  .card__back--6x5 {
    height: calc(100vh / 9);
    height: calc(100svh / 9);
  }
  .card__back--8x7 {
    height: calc(100vh / 12);
    height: calc(100svh / 12);
  }
}
